<?php
/**
 * This file is copied to config.php by kick
 *
 * Placeholders (\%CONF_ENVNAME\%) are being replaced by the values found in environment.
 * See .kick.yml config_file section.
 *
 * Original file by kickstart-skel/php-app-base
 */



define("DEV_MODE", (bool)"%DEV_MODE%");
define("VERSION_INFO", "v0.1.%VERSION_NUMBER% (%VERSION_DATE_COMPACT%)");

define("CONFIG_REPO", "%CONFIG_REPO%");
define("CONFIG_REPO_PREFIX", "demo_repo");


define("REPO_PATH", "/mnt/repo")
define("SSH_KEY_PATH", "/mnt/.ssh/id_ed25519")
