<?php
/**
 * This file is copied to config.php by kick
 *
 * Placeholders (\%CONF_ENVNAME\%) are being replaced by the values found in environment.
 * See .kick.yml config_file section.
 *
 * Original file by kickstart-skel/php-app-base
 */



define("DEV_MODE", (bool)"%DEV_MODE%");
define("VERSION_INFO", "v0.1.%VERSION_NUMBER% (%VERSION_DATE_COMPACT%)");

/**
 * The hostname the mailsystem is running on. Must be reachable
 * on port 80 to use Letsencrypt
 */
define("MAILNAME", "%MAILNAME%");

/**
 * Enable debug logging
 */
define("DEBUG", (bool)"%DEBUG?0%");

define("ENABLE_LETSENCRYPT", (bool)"%ENABLE_LETSENCRYPT?0%");

define("RBL_CLIENT", "%RBL_CLIENT?sbl-xbl.spamhaus.org;dnsbl.sorbs.net%");

define("CONFIG_FILE", "%CONFIG_FILE?/data/mailtainer-cfg.yml%");

define("BACKUP_AUTH_PASS_HASH", '%BACKUP_AUTH_PASS_HASH?%');
define("BACKUP_PGP_PUBLIC_KEY_FILE", '%BACKUP_PGP_PUBLIC_KEY_FILE?/data/public.pgp%');
